
@import url('https://fonts.cdnfonts.com/css/tt-livret-display-trl');
@font-face{font-family: 'TT Livret Display Trl';font-style: normal;font-weight: 400;src: local('TT Livret Display Trl'), url('https://fonts.cdnfonts.com/s/97023/TT Livret Display Trial Regular.woff') format('woff')}
@font-face{font-family: 'TT Livret Display Trl';font-style: normal;font-weight: 300;src: local('TT Livret Display Trl'), url('https://fonts.cdnfonts.com/s/97023/TT Livret Display Trial Light.woff') format('woff')}
@font-face{font-family: 'TT Livret Display Trl';font-style: normal;font-weight: 500;src: local('TT Livret Display Trl'), url('https://fonts.cdnfonts.com/s/97023/TT Livret Display Trial Medium.woff') format('woff')}
@font-face{font-family: 'TT Livret Trial Roman Variable';font-style: normal;font-weight: 400;src: local('TT Livret Trial Roman Variable'), url('https://fonts.cdnfonts.com/s/97023/TT Livret Trial Roman Variable.woff') format('woff')}
@font-face {
    font-family: 'Netron';
    font-style: normal;
    font-weight: 400;
    src: local('Netron'), url('https://fonts.cdnfonts.com/s/31386/Netron.woff') format('woff');
}
@font-face {
    font-family: 'Michroma';
    font-style: normal;
    font-weight: 400;
    src: local('Michroma'), url('https://fonts.cdnfonts.com/s/107280/Michroma-Regular.woff') format('woff');
}
@import url(https://fonts.cdnfonts.com/css/qafientola);
@import url(https://fonts.cdnfonts.com/css/aguero-serif-free);
@import url(https://fonts.cdnfonts.com/css/quivira);.img-swiper-wrapper .slot-wraper .swiper-box .swiper-slide .img-box{display:block !important}
@font-face{font-family: 'Qafientola';font-style: normal;font-weight: 400;src: local('Qafientola'), url('https://fonts.cdnfonts.com/s/96857/Qafientola-z8nv1.woff') format('woff')}
@font-face{font-family: 'Aguero Serif Free';font-style: normal;font-weight: 400;src: local('Aguero Serif Free'), url('https://fonts.cdnfonts.com/s/16649/Aguero Serif.woff') format('woff')};


.media-content .title-image img{
  width: ;
}

.media-content .title-image{
  margin-bottom: 0 !important;
}
.about{  }
.about .child-1{
	text-align: center;
}
.about .child-1 p{
	margin:2vh auto;
}
.about .child-1 a{
	margin:0 auto;
}
.about .child-1 a:hover{
	margin:0 auto;
	background-color: #00A2FF;

}
.about .child-1 h2{
	margin: 0;
}
.child-1 h2{
  line-height:3vw !important;
  font-size:3vw;
  margin:0 0 5vh 0
}
.eliteview .child-1{
	width: 40% !important;
	text-align: center;
}
.eliteview .child-1 img{
	width: 70%;
  margin: 0 auto;
  border-bottom: solid #3D7BE6;
  padding: 0 2vw;
}
.eliteview .child-2{
	width: 50% !important;
	justify-content: left;
	overflow:hidden;
	background-image: url('https://k4design.github.io/aperture/aperture_tvscreens.png');
	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: right;
}
.eliteview .child-2 img{
	width: 75%;
}
.eliteview{
	margin: 10vh 0 10vh 10vw !important;
}
.eliteview h3{
	color: #00A2FF;
	padding: 5vh 0 0 0;
  font-weight: 300 !important;
  margin: 0 !important;
  font-size: 1.5vw;
  line-height: 2vw;
  font-weight: 500;
  font-family: var(--font-normal);
}
.eliteview p{
	color: white;
	font-size: 1vw;
	margin:1vh auto;
}
.eliteview img{
	width: 50%;
}
.house-address{
  height: inherit !important;
  white-space: pre-wrap !important;
  font-size: 1.2vw !important;
  overflow: visible !important;
  text-align: center !important;
  line-height: 2vw !important
}


.mg-container {
  width: 100% !important;
}
.media-scroll-overlay:hover {
  background: rgba(0, 162, 255, 0.9);
  cursor: pointer;
}

.house-grid.template4.gallery.count-1 .house-grid-item {
  width: 100vw !important;
}
.md-hero.template2.banner-with-search-bar.column.video-in-play .search-bar {
  top: 80% !important;
}
.house-detail {
  text-align: center !important;
}
.media-scroll-text {
  font: 300 2vw/2vh "Michroma", sans-serif !important;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 80%;
}
.media-scroll-text:hover{
	text-decoration: underline;
}
.media-scroll-overlay a {
  background: rgba(0, 0, 0, 0) !important;
}
.x {
  justify-content: space-around;
  background: #000;
  color: #fff;
  align-items: center;
  padding: 5vh 10vw;
  display: flex;
}
.x h3 {
  font-weight: 300 !important;
  font-size: 2rem;
  margin-bottom: 5vh;
}
.md-hero.template2.banner-with-search-bar.column.video-in-play {
  margin-bottom: 0 !important;
}
.house-grid-item.template4 .mask .house-detail {
  padding: 15vh 0 !important;background-image: linear-gradient(to bottom, rgba(8,17,38,0), rgba(0, 0, 0, 0.88))!important;
}
.house-grid-item.template4 .mask .house-detail .house-price: first-of-type,
.house-grid-item.template4 .mask .house-detail .hide-price: first-of-type {
  font-size: 10vw !important;
  line-height: 5vw !important;
  font-family:'TT Livret Display Trl';
}
.house-grid-item.template4 .mask .house-detail .house-price, .house-grid-item.template4 .mask .house-detail .hide-price{
  font-family:'TT Livret Display Trl';
  font-size: 5vw;
  margin: 5vh;
}
.house-grid-item.template4 .mask .house-detail .house-basic {
  display: flex;
  justify-content: center;
}
h3 {
  font-size: 5vw;
  line-height: 5vw;
  margin: 0;
}
@media only screen and (max-device-width: 428px) {

  .house-grid-item.template4 .mask .house-detail .hide-price,
  .house-grid-item.template4 .mask .house-detail .house-price {
    font-size: 15vw !important;
  }
  .house-grid-item.template4 .mask .house-detail{padding:0 !important}
  .destinations {
    flex-direction: column !important;
  }
  .media-scroll-item {
    width: 100vw !important;
  }
  .media-scroll-text {
    font-size: 10vw !important;
  }
  .parent {
    flex-direction: column !important;
    max-height: 300vh !important;
  }
  .child-1 p {
    font-size: 4vw !important;
  }
  .child-1 {
    width: 100% !important;
    order:2 !important;
  }
  .child-2 {
    width: 100% !important;
  }
  .child-2 h2 {
    font-size: 15vw !important;
    padding: 2vh 0;
    position: inherit !important;
    font-weight: 300;
    line-height: 15vw !important;
  }
  .media-scroll-text {
    font-size: 2em;
  }
  .media-scroll-item {
    width: 35vw;
  }
  .mainlogo {
    display: block;
    padding-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
  }
  h3 {
    font-size: 5vw;
    line-height: 1;
    margin: 0;
  }
  .lightb a {
    background: white;
    padding: 2vh 4vw;
    color: #000;
    font-size: 1.25vw;
  }
  .x a {
    transition: 0.3s !important;
  }
  .blk h3,
  .child-1 h2 {
    font-size: 5vw !important;
    line-height: 1;
    margin: 0;
    font-family: "TT Livret Display Trl", sans-serif;
    font-weight: 300;
    color: #fff;
    width: 80%;
    margin: auto;
  }
  .blk p {
    width: 80%;
    margin: 5vh auto;
    font-size: 1rem;
  }
  .child-1 {
    padding: 2vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: left;
  }
  .child-1 a,
  .x a,
  .lb {
    background: #000;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    width: 95% !important;
    font-size: 5vw !important;
  }

  .child-1 h2 {
    font-size: 2.5vw;
    padding: 2vh 0;
    position: inherit !important;
    width: 95% !important;
    margin: auto;
    line-height: 10vw !important;
  }

  .bg-blk {
    font-size: 10vw;
    text-align: center;
  }

  .house-grid-item.template4 .mask .house-detail .house-price: first-of-type,
  .house-grid-item.template4 .mask .house-detail .hide-price: first-of-type {
    font-size: 20vw !important;
    line-height: 5vw !important;
  }

  .house-grid-item.template4 .mask .house-detail {
    padding: 5vh 2vw !important;
  }
  .banner {
    height: 70vh !important;
  }
  .bg-blk h3 {
    font-size: 10vw !important;
  }

	.eliteview .child-1{
	width: 100% !important;
	text-align: center;
	margin-left: 0;
}
.eliteview .child-1 img{
	width: 70%;
  margin: 0 auto;
  border-bottom: solid #3D7BE6;
  padding: 0 2vw;
}
.eliteview .child-2{
	width: 100% !important;
	justify-content: left;
	overflow:hidden;
	background-image: url('');
	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: right;
}
.eliteview .child-2 img{
	width: 75%;
	margin:0 auto;
}
.eliteview{
	margin-left:0;
}
.eliteview h3{
	color: #00A2FF;
	padding: 5vh 0 0 0;
  font-weight: 300 !important;
  margin: 0 !important;
  font-size: 8vw !important;
  line-height: 10vw;
  font-weight: 500;
  font-family: var(--font-normal);
}
.eliteview h3 span{
	font-size: 6vw !important;
}
.eliteview p{
	color: white;
	font-size: 1vw;
	margin:1vh auto;
}
.eliteview img{
	width: 50%;
}
  .house-address {
    height: inherit !important;
    white-space: pre-wrap !important;
    font-size: 5vw !important;
    overflow: visible !important;
    text-align: center !important;
    line-height: 5vw !important
  }
  .house-grid-item.template4 .mask .house-detail .house-price, .house-grid-item.template4 .mask .house-detail .hide-price{
    font-size:15vw !important}
  .video {min-height:0px !important;}
  .house-grid-item.template4 .mask .house-detail .house-price {
    font: 500 15vw/2vh "TT Livret Display Trl",sans-serif !important;}
  }
  .video-box.auto-height {
    position: fixed !important;
  }
  .md-house.template4{
    box-shadow: 0px 0vh 5vh black;
  }
  .house-grid-item.template4 .mask .house-detail .house-footer .read-more {
    margin: 1vh auto;
}


