.page-content > :nth-of-type(2n){;
}
.banner{
	border-bottom: 0px;
}
.video-box.auto-height{
	position: relative !important;
}
.statebody{
	height: auto;
	padding: 5vh 0;
	background-color: #000;
}
.statebody img{
	width: 50%;
}
.statebody p{
	width: 50%;
	color: white;
	margin: auto;
	text-align: center;
}
.statebody h2{
	color:white;t
	ext-align:center;
	margin: 5vh auto;
  	font-size: 3vh;
  	text-align: center;
}
.md-search-more-center.template4{
	background-color: black;
	padding: 0 !important;
}
.md-search-more-center.template4 .search-more .search-detail-wrap .search-detail-item{
	background-color: none;
}
.md-search-more-center.template4 .search-by-section{
	display: none !important;
}

.map-box canvas{
	width: auto !important;
  height: 100% !important;
}
.md-search-result.template4 .search-result-container.right {
  height: 100%;
  width: 700px;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: #2f2f2f !important;
  color: white;
}
.house-list-item.brief-house-list.template4 .house-detail{
	border-bottom: #d3bf75 !important;
}

.house-list-item.brief-house-list.template4 .house-detail .house-price, .house-list-item.brief-house-list.template4 .house-detail .hide-price,
.house-list-item.brief-house-list.template4 .house-detail .house-address, .house-list-item.brief-house-list.template4 .house-detail .house-info {
 
  text-align: left !important;
}

.md-search-result.template4 .search-result-container .search-result-header .search-choose .search-switch .switch-item{
	display: none;
}

