.page-content > :nth-of-type(2n){;
}
.banner{
	border-bottom: 0px;
}
.video-box.auto-height{
	position: relative !important;
}
.statebody{
	height: auto;
	padding: 5vh 0;
	background-color: #000;

}
.statebody p{
	width: 50%;
	color: white;
	margin: auto;
	text-align: center;
}